/* Add CSS styling here */
/* Style Reset */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/* border: 0;   */
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

/* General Styles */
* {
    /* border:1px solid grey; */
    max-width: 100%;
    box-sizing: border-box;
    color: white;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}


a {
    list-style: none;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    color: black;
}

header {
    background-color: #424242;
}

/* Navigation */

header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5%;
}

header nav .links {
    justify-items: space-between;
}

.links a {
    padding: 0 10px 0 10px;
    font-size: 2rem;
}

.links a:hover,
.links a:focus {
    /* text-decoration: underline; */
    border: 2px solid #bbbbbb;
}


.logo {
    height: auto;
    width: 50%;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: center;
    background-image: url('/style/img/hero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 1%;
}



.heroContainer {
    width: 98%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.heroContainer h1 {
    font-weight: 400;
    font-size: 8rem;
}

.heroContainer p {
    font-size: 1.9rem;
    padding-top: 2%;
    padding-bottom: 2%;
}

.button{
    border: 2px solid #bbbbbb; 
    font-weight: 500;
    font-size: 1.5rem;
    padding: .5%;
}

.button:hover {
    transform: scale(1.05);
}

/* About me Section */
.aboutMe {
    display: flex;
    align-items: center;
    border: 2px solid red;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    background-color: #bbbbbb ;
}

.aboutMeContainer {
    display: flex;
    border: 2px solid blue;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
    width: 60%;
    background-color: white;
    margin: 2%;
    padding: 3%;

    
}

.aboutMeContainer img{
    height: auto;
    width: 15%;
    border-radius: 50%;
    margin-left: 10%;
}

.aboutMeTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutMe h2{
    align-items: flex-start;
}

.aboutMeContainer p {
    width: 50%;
    align-items: center;
}

.aboutMe p {
    font-size: 2rem;
    color: black;
}

/* Gallery Section */
.gallery {
    background-color: #6b6b6ba9;
}


.gallery h2 {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding-top:2%;
    font-weight: 500;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.projects {
    /* margin-top: 2%; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%
    margin-bottom: 2%;
    align-self: center;
    max-width: 1094px;
}

figure  {
    transform: scale(1.03);
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    padding: 5%;
}

figure:hover {
    transform: scale(1.15);
    border: 2px solid #414141;
    padding: 2%;
}

figure img {
    height: 30rem;
    width: 30rem;
    overflow: hidden;
}

figure figcaption {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.6rem;
}

/* Footer Section */

footer {
    background-color: #424242;
    padding: 2%;
}

footer nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: center;   
}

footer nav a {
    font-weight: 500;
    font-size: 150%;
}

ion-icon {
    font-size: 2.5rem;
    align-self: center;
    trasform: scale(1.03);
}

ion-icon:hover {
    transform: scale(1.15);
}

.iconHover {
    padding-top: 1%;
}

/* Media Queries */


@media (max-width: 800px) {
    header nav {
        flex-direction: column;
    }

    .logo {
        padding-bottom: 2%;
    }

    .links a {
        padding: 0 1% 1% 1%
        font-size: 1rem;
    }

    .heroContainer {
        width: 90%;
        text-align: center;
    }
    
    .heroContainer h1 {
        font-size: 6rem;
    }

    figure img {
        height: 20rem;
        width: 20rem;
        padding: 5%;
    }
}

@media (max-width: 500px) {
    .heroContainer {
        width: 100%;
        text-align: center;
    }

    footer {
        padding: 4%;
    }

    footer nav a {
        width: 100%;
    }

    footer nav .links {
        display: flex;
        justify-content: space-evenly;
        font-size: .5rem;
    }


    .iconHover {
        padding-top: 2%;
        display: flex;
        justify-content: center;
    }
}